body {
  font-family: sans-serif;
}

/*
  We didn't cover first-of-type in class, but you should have found
  this when exploring pseudo-classes!

  Most of the styling below is just for fun ... but you can see how
  you have complete control over svg styling via css.
*/

svg:first-of-type {
  border: 0;
  background: transparent;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

svg:first-of-type,
[src$=".svg"] {
  max-width: 50px;
}

svg:first-of-type path:first-child {
  fill: rgb(182,40,126);
}

svg:first-of-type path:nth-child(2) {
  fill: rgb(235,65,59);
}

svg:first-of-type path:nth-child(3) {
  fill: rgb(241,150,55);
}

svg:first-of-type circle {
  fill: rgb(246,194,67);
}


/* Styling for rectangle, square, cirles and lines */

svg {
  border: 1px solid #222;
  background: #eee;
  width: 600px;
  height: 200px;
}

circle {
  fill: orange;
  opacity: 0.5;
}

/* Another option:

  circle {
    fill: rgba(255,165,0,0.5);
  }

  Instead of using separate properties for fill and opacity, use the
  rgba() value, setting the color and the opacity!
*/

polygon {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}

line {
  stroke: black;
  stroke-width: 2px;
}

#rect {
  stroke-width: 2px;
  stroke: blue;
  fill: transparent;
}

#square {
  stroke-dasharray: 5,5;
  stroke-width: 3px;
  stroke: red;
  fill: white;
}
